<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HTTP POST DEMO</title>
        <link rel='stylesheet' href='stylesheets/home.css'>
    </head>
    <body>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="quote" name="quote">

            <button type="submit">Submit</button>
        
        </form>
    
        <ul>
            <% for(var i=0; i<demo_collection.length;i++){ %>
                <li>
                    <span>
                        <%=demo_collection[i].name %>
                    </span>
                    <span>
                        <%=demo_collection[i].quote %>
                    </span>                   
                                }
        </ul>
    </body>