/*travelog page css*/
* { margin: 0px; padding: 0px; }
html {
    height: 100%;
}



body{
    font-family: 'Montserrat',sans-serif;
    color:dimgray;
    justify-self: center;
    margin: 3rem;
    background-color:whitesmoke;
}

h1,h2,h3,h4,h5,li{
    font-weight:200;
    color:dimgrey;
}


.wrapper {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  grid-template-rows: 100px auto auto;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  padding: 5px;
  text-align: center;
}
.menu{    
    grid-column: 2 / 4; 
    grid-row: 1 / 2;
    display:flex;
    padding-left: 3rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: whitesmoke;
    font-size-adjust: auto;
}
.logo{
    padding-left:10px;
    z-index: 999;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
    background-color:black;
    opacity: 80%;
}


.title {   
    grid-column: 3 / 4; 
    grid-row: 2 / 3;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding: 2rem;    
}

.daily { 
    display: flex;
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
    justify-self:center;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.comments {
    grid-column: 3 / 4; 
    grid-row: 3 / 4;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:2rem;
    border-color: slategray;
}

.user_form {
    grid-column: 2 / 3; 
    grid-row: 3 / 4;
    padding: 2rem;
    margin: 1rem;
    
} 

a {
    display:flex;
    color:floralwhite;
    text-decoration: none;
    position:relative;
    top:1rem;
}


li{
    list-style: none;
    text-decoration: none;
}

form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family:'Montserrat',sans-serif;
    font-weight: 300;
    
}
input {
    text-align:start;
    font-family:'Montserrat',sans-serif;

}
#commenting{
    width: 100%;
    height: 200px;
    border:0;
    border-color:lightsteelblue;
    color:black;
    font-family:'Montserrat',sans-serif;
    font-weight: 100;
}

#user_info{
    border: 0;
    font-family:'Montserrat',sans-serif;
    font-weight: 100;
}
#submit_comment{
    border: 0;
    background-color: black;
    opacity: 80%;
    color: white;
    font-family:'Montserrat',sans-serif;
}

li a{
    color:currentColor;
}

.destination{
    padding-left:1rem;
    white-space: nowrap;
}
/*Animations*/
/*navigation bar*/


.ul_t_photo {
    display:block;
    white-space:nowrap;
    width:1000px;
    height:100px;
    overflow-x:scroll;
    overflow-y:hidden;
    font-size:1rem;
}


.li_t_photo {
    list-style: none;
    white-space: nowrap;
    width: 130px;
    display: inline-block;
    vertical-align: top;
    color:black;
    
}

#photo_info{
    
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    
}

#comment_display {
    display:grid;
    grid-row-gap: 2rem;
    padding:0;
}

.comment_li {
    background-color:gainsboro;
    padding: 1rem;
}

/*layout optionB for switch
.destination{
    margin: 0;
    white-space: nowrap;
}
.ul_t_photo {
    display:block;
    white-space:nowrap;
    width:1000px;
    height:100px;
    overflow-x:scroll;
    overflow-y:hidden;
    font-size:1rem;
    margin:0;
    padding: 
}

.li_t_photo {
    list-style: none;
    white-space: nowrap;
    width: 130px;
    display: inline-block;
    vertical-align: top;
    color:black;
}
*/




/*Animations*/
/*navigation bar*/
.sub_menu {
    display:none;
    font-size:0.5rem;
}
.menu>li:hover .sub_menu {
    display:flex;    
    flex-direction: column;
    align-items: flex-end;
}

/*photo scroll*/
.scroll>.destination:hover .ul_t_photo{
    animation: fade;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
}



.li_t_photo>a:hover img{
    animation-timing-function: linear;
    animation: slideout 0.3s, slidein 0.3s 0.1s;
}

@keyframes slideout {
    from {
        transform:translateY(0px);
    }
    to {
        transform:translateY(100px);
    }
}

@keyframes slidein {
    from {
        transform:translateY(-100px);
    }
    to {
        transform:translateY(0px);
    }
}

@keyframes fade {
    from {
    }
    to {
        background-color: black;
        filter:alpha(Opacity=80);
        -moz-opacity:0.8;
        opacity: 0.8;   
    }
}

@keyframes text_change {
    from {
        font-size:1rem;
        color:black;
    }
    to {
        font-size:1.3rem;
        color:whitesmoke;
        background-color: black;
        transform:translateY(30px);
    }
}


.ul_t_photo_cover{
    font-size:1rem;
    color:black;
    margin:1rem;
    background-color:lightgray;
    font-weight: 300;
    
    
}

.scroll>.destination:hover .ul_t_photo_cover{
    animation: text_change;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
}


.daily img{
    height:auto;
    width:500px;
}



#heart {
    position: relative;
    left:-70px;
    top:-100px;
    opacity: 0;
}
  
#heart:before,#heart:after {
    content: "";
    width: 70px;
    height: 115px;
    position: absolute;
    background-color:firebrick;
    left: 70px;
    top: 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
  
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}                     

#heart:hover{
    opacity:70%;
}
